body{
    margin: 0;
    background-color: rgba(212,212,212,0.49);
}
img{
    width: 100px;
}
#header{
	padding-top: 80px;
}
#logobox{
    padding-top: 30px;
    padding-left: 80px;
    display: inline-block;
}
#big-text{
	text-align: left;
}
#links{
	padding-top: 30px;
	padding-left: 80px;
	padding-bottom: 80px;
}
#pro1-box{
	vertical-align: top;
	display: inline-block;
	width: 250px;
}
#pro2-box{
	vertical-align: top;
	display: inline-block;
	width: 250px;
	}
#pro3-box{
	vertical-align: top;
	display: inline-block;
	width: 250px;
	}
h1{
    color: white;
    font-family: sans-serif;
    text-shadow: 2px 2px 0px rgba(161,161,161,0.24);
    font-size: 80px;
    letter-spacing: 25;
    font-weight: 800;
    padding-left: 80px;
    padding-top:160px;
}
h2{
	color: gray;    
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 1;
    font-weight: 600;
    text-decoration: none;
}
h3{
	color: gray;    
	font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1;
    font-weight: 600;
    text-decoration: none;
}
a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color:darkred;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}


