body{
    margin: 0;
    background-color: rgba(212,212,212,0.49);
}
#links{
	padding-top: 30px;
	padding-left: 80px;
	padding-bottom: 80px;
}
h3{
	color: gray;    
	font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1;
    font-weight: 600;
    text-decoration: none;
}
a:link {
    color: gray;
    text-decoration: none;
}
a:visited {
    color: gray;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}


